//output:index.html, pretty:true

doctype html
html(lang="fr")
    head
        title Battle Plan
        link(rel='stylesheet', href='styles/style.css')
        link(rel='stylesheet', href='styles/font-awesome.css')
    body
        div.topbar
            img(src="images/raven.svg").topbar-icon
            h2.topbar-title Telecom Robotics' Battle Plan
            a.btn.testrun
                span.smallicon.fa.fa-play
                | Test
        div.content
            img(src="images/tableborders.png").table-border-layout
            img(src="images/table.png").table-layout
            canvas#table.table-layout
            div.tools
                h2 
                    span.fa.fa-map-o
                    | Chemins
                div.path-list#biglist
        script(src="bower_components/jquery/dist/jquery.min.js")
        script(src="bower_components/js-cookie/src/js.cookie.js")
        script(src="scripts/socket.io.js")
        script(src="scripts/paper.js")
        script(src="scripts/templates.js")
        script(src="scripts/tools.js")
        script(src="scripts/sidebar.js")
        script(type="text/paperscript" src="scripts/paths.js" canvas="table")
        script(src="scripts/main.js")
