/* general */
body {
  padding: 0;
  margin: 0;
  font: 14px "Kirvy", Helvetica, Arial, sans-serif;
  background: #f3f2e6;

}
a {
  color: #e4342a;
  text-decoration: none;
}
a:hover {
  color: #e3631b;
  text-decoration: none;
}
h2 {
    font-size: 3vh;
}
h3 {
    font-size: 2.3vh;
    font-weight: 700;
    color: #1f1f1f;
}

.fa {
    margin-left: 2vh;
    margin-right: 2vh;
}

.btn {
  margin: 2vmin 2vmin 2vmin 4vmin;
  border-radius: 5px;
  padding: 0.3vmin;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  display: inline-block;
  color: #3e3c41;
  border: 2px #3e3c41 solid;
}
.btn:hover {
  margin: 2vmin 2vmin 2vmin 4vmin;
  background-color: #3e3c41;
  color: #e8e3d4;
}
.disabled {
    color: #ab271e;
    border: 2px #ab271e solid;
}
.disabled:hover {
    color: #ab271e;
    border: 2px #ab271e solid;
    background: none;
}

/* toolbar */
.topbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 7vh;
    color: white;
    background: #e4342a;
    box-sizing: border-box;
    box-shadow: 0 -1px 20px rgba(32, 34, 34, 0.8);
    z-index: 10;
}
.topbar-icon {
    margin: 0.5vh;
    margin-left: 5vw;
    height: 6vh;
}
.topbar-title {
    position: relative;
    top: -9vh;
    text-align: center;
    font-weight: 500;
    font-size: 3.5vh;
}
.smallpi, .bigpi {
    position: absolute;
    top: -0.3vh;
    right: 0;
    font-size: 2vh;
}
.smallpi { right: 20vh; }

/* content */
.content {
    position: absolute;
    top: 10vh;
    width: 100%;
    height: 90vh;
}
.table-layout {
    position: absolute;
    top: 0;
    left: 3vw;
    width: 60vw;
    height: 40vw;
}
.table-side-layout {
    position: absolute;
    top: 40vw;
    left: 3vw;
    width: 60vw;
}
.tools {
    position: absolute;
    top: -3vh;
    left: 70vw;
    height: 93vh;
    width: 30vw;
    background-color: #fefdfa;
    box-sizing: border-box;
    box-shadow: 0 -1px 40px rgba(32, 34, 34, 0.6);
    min-height: 600px;
}
.selector {
    position: relative;;
    background: url("../images/select1.svg") no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-top: -3vh;
    width: 30vmin;
    height: 5vmin;
}
.selector table {
    width: 100%;
    height: 100%;
}
.points {
    position: relative;;
    left: 1vw;
    width: 20vw;
    height: 67vh;
    font-family: 'Menlo';
    font-size: 1vw;
    overflow-y: scroll;
}
.btn-tab, .btn-tab:hover {
    position: relative;;
    width: 15vw;
    height: 3vh;
    border-radius: 5px 5px 0 0;
    left: 0vw;
    top:-1vh;
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px #3e3c41 solid inner;
    font-size: 1.8vh;
    z-index: 10
}
.smalltab, .smalltab:hover {
    left: auto;
    right: 0vw;
}
.selected-tab, .selected-tab:hover {
    border-bottom: 0;
    background: none;
    color: #3e3c41;
}
.path-list {
    position: absolute;
    top: 27vh;
    height: 68vh;
    width: 30vw;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px #3e3c41 solid;
    border-top: 0;
    overflow-y: scroll;
}
.path-list table {
    margin-top: 2vh;
    font-size: 2.5vh;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border-spacing: 0;
}
.path-list input, .path-list select {
    font-size: 2vh;
    height: 2.5vh;
}
.path-list tr {
    height: 3vh;
    margin:0;
    padding: 0;
}
.path-list td {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 2px #3e3c41 solid;
    margin: 0;
    padding: 0;
}
.list-element, .add-element {
    position: relative;
    height: 3vh;
    margin: 0;
    padding: 0.5vh;
}
.list-element {
    padding-left: 1.5vw;
}
.path-options {
    padding: 1vw;
    padding-bottom: 0;
    font-size: 2vh;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 -1px 1.5vw rgba(32, 34, 34, 0.4) inset;
    background-color: #fdfff7;
}
.selected-list-element {
    background-color: #3e3c41;
    color: #fefdfa;
}
.add-element {
    text-align: center;
    border-bottom: none !important;
}
.add-element-btn, .add-element-btn:hover {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.endSpeed, .cruiseSpeed {
    width: 5vw;
}
.fa-trash {
    position: absolute;
    right: 1vw;
    color: #e4342a;
}
.selected-list-element .fa-trash {
    color: #f2665e;
}
.pathVisibility {
    margin-right: 2vw;
}
 .teamMirror, .configLinkEnable {
    margin-right: 1vw;
}
.point-x, .point-y {
    width: 7vw;
}
.points-table {
    position: relative;
    top: -2vh;
    width: 100%;
}
.points-table td {
    border-bottom: none;
    font-size: 2vh;
}
.points-table input {
    font-size: 2vh;
}
.points-index {
    width: 5vw;
    text-align: center;
}
.initAngle {
    width: 4vw;
}
@font-face {
  font-family: 'Kirvy';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Kirvy-Regular.otf);
}

@font-face {
  font-family: 'Kirvy';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Kirvy-Bold.otf);
}

@font-face {
  font-family: 'Kirvy';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Kirvy-Light.otf);
}

@font-face {
  font-family: 'Kirvy';
  font-style: italic;
  font-weight: 100;
  src: url(../fonts/Kirvy-Thin.otf);
}
@font-face {
  font-family: 'Menlo';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Menlo.ttf);
}
